<div class='intro'>
	<div class="byline-wrapper">
		<p class="byline-date">July 17, 2018</p>
		<p class='intro__byline tk-atlas'>By
			<a href='{{meta.author.url}}' target='_blank'>{{meta.author.name}}
			</a>
		</p>
	</div>

	<h1 class='intro__hed'>Airport Traffic as a Measure of Prosperity</h1>
	<!-- <p class='intro__dek tk-atlas'>{{meta.description}}</p> -->
	<p class="prose-intro">Last year, Daniel Knowles <a href="https://capx.co/africa-is-urbanising-without-globalising/">wrote an account</a>, the capital of the Democratic Republic of Congo, a city of 13 million people. One of his stats led me down a rabbit hole: Kinshasa has 13 departing flights per day.
	</p>
	<div id="map">
		<p class="source">Average departures (excluding connections) per day in 2017, ICAO</p>
	</div>
	<p class="prose">Knowles writes, “Kinshasa can burn and most of the world doesn’t notice, because Kinshasa is only slightly better connected to the global economy than the North Pole.” This is not exactly hyperbole: Barrow, Alaska, is the northernmost point in the US and home to 5,000 people—it too has about 10 departures per day.
	</p>
	<p class="prose">There are many ways to explain a city’s economy: GDP, trade, business investment, miles of paved roads, etc. But these indicators often seem abstract. Number of flights feels tangible, a signal of a city’s globalization, wealth, industry, and tourism, all wrapped into one figure.
	</p>
	<p class="prose">When a metropolis the size of Paris has only 13 departing flights per day, it challenges my existing mental model of a city’s necessary ingredients, such as industry, tourism, or trade. That is, big city = big economy. Kinshasa is a surprising break from historical patterns, labeled by Harvard economist Edward Glaeser as “poor-country urbanisation.”
	</p>
	<p class="prose">To see why, let’s look at the world’s megacities (population is greater than 10 million people).
	</p>
	<p class="chart-head">Lagos, Nigeria; Kinshasa, DR Congo; and Lahore, Pakistan recently surpassed 10 million people but have the fewest flights per day among all megacities.
	</p>
	<div id="pyramid">@@include('pyramid_7.svg')</div>
	<p class="sources">Population projection for 2018. Data is using the <a href="https://esa.un.org/unpd/wup/General/FAQs.aspx">UN&rsquo;s urban agglomerations dataset</a>. Flights: average departures (excluding connections) per day in 2017, ICAO</p>
	<p class="prose">The familiar model is that urbanization (i.e., people moving to cities) tracks with rising incomes, lifting people out of poverty. Yet some newer megacities are not following this path, with stagnating income and leaving people no better off (or even worse off) in cities.
	</p>
	<p class="prose">We can see both of these when examining the growth of Kinshasa versus Bangalore, India, and Guangzhao, China.
	</p>
	<p class="chart-head">Kinshasa and Bangalore both reached megacity status in the 2010s. Bangalore’s flights grew 25-fold; Kinshasa’s barely moved.
	</p>
	<div id="arrow">@@include('arrow_1.svg')</div>
	<p class="sources">Population via the <a href="https://esa.un.org/unpd/wup/General/FAQs.aspx">UN&rsquo;s urban agglomerations dataset</a>. Flights: average departures (excluding connections) per day in 2017, ICAO</p>

	<p class="prose">Bangalore and Guangzhao represent the supposed norm: urbanization as a signal of economic prosperity. China’s industrial growth pulled people from rural to urban areas; it now has 6 of the world’s top 25 cities. Bangalore’s growth was fueled by a huge tech sector that’s exporting to the rest of the world. Unsurprisingly, the Bangalore-Delhi flight route is the 12th most popular in the world, with 81 flights between each city per day.
	</p>
	<p class="prose">Contrast this with the megacity status of Lagos or Kinshasa. Instead of economic growth and higher wages, cities are <a href="https://www.citylab.com/equity/2017/12/bigger-isnt-necessarily-better-when-it-comes-to-city-size/548276/">growing due</a> to unsustainable rural living conditions, climate change, and war. People are moving out of necessity rather than opportunity.
	</p>
	<p class="prose">Stark population growth (without economic growth) means that urban planning and city services (e.g., electricity, water access, sanitation) have failed to keep pace. The question is whether this will become the norm for 21st-century urbanization: swelling cities without the infracture we might expect from a top 25 population center.
	</p>
	<p class="chart-head">By 2030, there will be 11 new megacities; of interest are the three with fewer than 100 departing flights per day: Dar es Salaam, Tanzania; Luanda, Angola; and Ahmadabad, India.
	</p>
	<div class="scatter-wrapper">
		<div id="scatter">@@include('scatter_2.svg')</div>
		<div class="scatter-tooltip">
			<p></p>
		</div>
	</div>
	<p class="sources">Population projection for 2018. Data is using the <a href="https://esa.un.org/unpd/wup/General/FAQs.aspx">UN&rsquo;s urban agglomerations dataset</a>. Probable megacities is using projection for 2030. Flights: average departures (excluding connections) per day in 2017, ICAO</p>
	<p class="prose">By 2030, Dar es Salaam, in Tanzania, is predicted to grow from 6 million to 10 million people. Luanda, Angola, will grow from 7.7 million to 12.1 million (Angola has the third-highest fertility rate in the world: 6.16 children born/woman)1. Ahmadabad, in India, will increase from 7.6 million to 10.1 million people. When these city’s populations change 50–100% in the next 12 years, will they resemble Kinshasa or follow a more prosperous path?
	</p>
	<p class="prose">Richard Florida, who co-founded Atlantic Media’s CityLab, has written extensively on this topic. He <a href="https://www.citylab.com/life/2014/01/why-so-many-mega-cities-remain-so-poor/8083/">highlights</a> an interesting piece of <a href="http://www.nber.org/papers/w19745.pdf">Glasner’s research</a> that might point to the fate of Luanda and Dar es Salaam. Essentially, poor urbanization has occurred in the past, but it was accompanied by capable government. Cities such as Rome, Baghdad, and Kaifeng, “these places didn’t have wealth, but they did have a competent public sector . . . Today’s poor but urbanized nations cannot rely on such public [governing] competence.”
	</p>
	<p class="prose">Glasner goes on to point out that the DR Congo (where Kinshasa is located) is “among the nations with the lowest ratings of governmental competence in the world.” In the next 12 years, we’ll see whether Angola and Tanzania—both plagued by <a href="https://www.transparency.org/news/feature/corruption_perceptions_index_2017">corruption</a>, income disparity, and poor government—can manage population growth (though Angola now has a new president after a 38-year rule by José Eduardo dos Santos). It’s helpful to keep this in perspective when ideas about <a href="https://www.brookings.edu/research/foresight-africa-top-priorities-for-the-continent-in-2016-2/">better</a> <a href="http://www.worldbank.org/en/region/afr/publication/africa-cities-opening-doors-world">planning</a> are is thrown around as the answer to rapid, unplanned urbanization.
	</p>
	<p class="prose">For economics-minded readers, Glasner’s <a href="http://www.nber.org/papers/w19745.pdf">study</a> also highlights the relationship of between GDP and percent urbanization in 1960 and 2010: “The U.S. only became one-third urbanized in 1890, when per capita Gross Domestic Product (GDP) was over $5000, but the poorest urbanizing countries today have hit that threshold with per capita GDPs under $1200.”
	</p>
	<p class="prose">Florida also has a <a href="https://www.citylab.com/life/2015/06/the-problem-of-urbanization-without-economic-growth/395648/">great summary</a> of a <a href="https://www2.gwu.edu/~iiep/assets/docs/papers/2015WP/RemiJedwabIIEPWP20156.pdf">study</a> by Remi Jedwab and Dietrich Vollrath. They note that poor megacities are actually not that uncommon and have occurred throughout history. Urbanization in places such as Kinshasa is surprising because of the recent century of urbanization in primarily wealthy countries.
	</p>
	<p class="prose">My focus on flights has a number of nuances, but one consideration is that <a href="https://www.citylab.com/transportation/2017/11/why-is-african-air-travel-so-terrible/546422/">air rights are uniquely complicated</a> in Africa. In Europe, it is far easier to fly between countries due to the EU and fewer air space restrictions. <a href="https://www.citylab.com/transportation/2017/11/why-is-african-air-travel-so-terrible/546422/">According</a> to CityLab, African “countries have displayed protectionist tendencies to limit others’ access to their own airspace. Those instincts began a generation ago, when newly independent nations sought to assert themselves by creating national airlines, and continue today.” The author describes a non-stop flight between Kinshasa and Lagos as impossible. Africa’s flight numbers will be depressed for these reasons, but it’s also a consideration for why foreign investment and globalization might lag in other megacities.
	</p>
	<p class="prose">Flight volume is, like many metrics, an imperfect number. One notable issue is that some major cities share airports. For example, a person may fly into Ft. Lauderdale and drive to Miami. Or in the case of emerging megacities, New Taipei City surrounds Taipei, effectively sharing its airports. To measure flights, airports were aggregated to the city level using formal city-airport mappings. For example, most flight search engines will return results for NYC with multiple airports serving the city, such as Newark (EWR), JFK, and LaGuardia (LGA).
	</p>
	<p class="prose">This article intends to speak to all megacities but highlights Kinshasa as a standout example. The problems plaguing the DR Congo also stem from colonialism. <a href="https://www.sciencedirect.com/science/article/pii/S0188461113727547">This study</a> was particularly illuminating when it came to understanding Kinshasa’s role: “It could be said that [Kinshasa’s] strongest relationship is with itself, despite its dependence on some other provinces, in particular for its food supply. Indeed, the capital seems to be focussed inwards, on itself and its own activities, or, in any case, oriented towards external areas that are neither Congolese nor African. It is therefore evident that, fifty years following its independence, the concept of nation—which, moreover, is an inconvenient legacy in such a vast country ‘invented’ by colonialism—has still not managed to materialise in the form of an adequate territorial structure.”
	</p>
	<p class="prose">One problem with measuring the economy of Kinshasa is that many of the jobs are informal. A <i>Guardian</i> <a href="https://www.theguardian.com/cities/2018/mar/19/urban-explosion-kinshasa-el-alto-growth-mexico-city-bangalore-lagos">report</a> quoted World Bank economist Somik Lall, saying, “What seems to be happening in Africa is that it is triggering only small-scale informal trading [as opposed to global commerce]. People coming to cities like Kinshasa are not adding economic benefit.” For these reasons, Kinshasa’s GDP will undercount its real economic activity. At the same time, a primarily informal economy means it’s not globalized (and as a result, not in need of a bustling airport).
	</p>
	<p class="prose">It’s also worth noting that we’re comparing these new megacities to a standard of living that’s often found in the wealthy megacities. Should Paris, Tokyo, and NYC be the model cities for urbanization? When <i>The Guardian</i> labels poor megacities as <a href="https://www.theguardian.com/cities/2018/mar/21/people-pouring-dhaka-bursting-sewers-overpopulation-bangladesh">dysfunctional, overpopulated, and unlivable</a>, it’s not entirely a value judgement; residents should have access to basic services, such as water, sanitation, and education. At the same time, replicating New York City-living standards in every megacity would spell ecological disaster, with its outsized energy footprint and meat consumption. Ironically, wealthy cities are part of the reason we’re here in the first place: unabated consumerism contributing to climate change, which plays a role in pushing rural residents to emerging megacities.
	</p>












</div>
