<div class='intro'>
	<div class="byline-wrapper">
		<p class="byline-date">July 17, 2018</p>
		<p class='intro__byline tk-atlas'>By
			<a href='{{meta.author.url}}' target='_blank'>{{meta.author.name}}
			</a>
		</p>
	</div>

	<h1 class='intro__hed'>Airport Traffic as a Measure of Prosperity</h1>
	<!-- <p class='intro__dek tk-atlas'>{{meta.description}}</p> -->
	<p class="prose-intro">Last year, Daniel Knowles <a href="https://capx.co/africa-is-urbanising-without-globalising/">wrote an account</a> of his experience in Kinshasa, Democratic Republic of Congo, a city of 13 million people. One of his stats led me down a rabbit hole: Kinshasa has 13 departing flights per day.
	</p>
	<div id="map">
		<p class="source">Average departures (excluding connections) per day in 2017, ICAO</p>
	</div>
	<p class="prose">Knowles writes, “Kinshasa can burn and most of the world doesn’t notice, because Kinshasa is only slightly better connected to the global economy than the North Pole.” This is not exactly hyperbole: Barrow, Alaska, is the northernmost point in the US and home to 5,000 people—it too has 10 departures per day.
	</p>
	<p class="prose">There are many ways to explain a city’s economy: GDP, trade, business investment, miles of paved roads, etc. But these indicators often seem abstract. Number of flights feels tangible, a signal of a city’s globalization, wealth, industry, and tourism, all wrapped into one figure.
	</p>
	<p class="prose">When a metropolis the size of Paris has only 13 departing flights per day, it challenges my existing mental model of a city’s necessary ingredients, such as industry, tourism, or trade. That is, big city = big economy. Kinshasa is a surprising break from historical patterns, labeled by Harvard economist Edward Glaeser as “poor-country urbanisation.”
	</p>
	<p class="prose">To see why, let’s look at the world’s megacities (population is greater than 10 million people).
	</p>
	<p class="chart-head">Lagos, Nigeria; Kinshasa, DR Congo; and Lahore, Pakistan recently surpassed 10 million people, but have the fewest flights per day among all megacities.
	</p>
	<div id="pyramid">@@include('pyramid.svg')</div>
</div>
